@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Lato:wght@300&family=Oswald&display=swap');

body {
    padding-bottom: 114px;
}

.navbar {
    width: 100%;
    margin-left: 25%;
}

.navbar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

#menu {
    background-color: #5C4033;
    opacity: 0.95;
    padding: 4%;
    font-family: 'Hina Mincho', serif;
    font-size: 18px;
}

.section-title p {
    font-size: 48px;
    color: pink;
}

.menu-content a,
.menu-ingredients {
    color: white;
}

.menu-content a {
    text-decoration: none;
    color: pink;
}

.menu-content span {
    font-weight: 700;
    color: black;
}

/* Signup */

.btn-signup {
    background-color: #e75480;
    color: white;
}

.alert-bar {
    background-color: #5C4033;
    border: 1px solid pink;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    opacity: 0.9;
    z-index: 999;
}

#start-book {
    width: 15%;
    margin: 0 auto;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid pink;
    color: black;
    font-size: 24px;
    text-align: center;
}

#about, #contact {
    background-color: #5C4033;
    opacity: 0.95;
    padding: 75px 25px;
}

#about h3,
#contact h3 {
    text-align: center;
    color: pink;
}

#about p {
    font-size: 32px;
    color: white;
    margin: 0 15rem;
    text-align: center;
    line-height: 5rem;
}

#contact p {
    font-size: 18px;
    margin: 0 15rem;
    color: white;
    text-align: center;
    line-height: 2rem;
}


footer {
    background-color: #5C4033;
    opacity: 0.95;
    font-size: 2rem;
}

footer i {
    font-size: 2rem;
    padding: 25px;
}