@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Lato:wght@300&family=Oswald&display=swap');

.navbar {
    width: 60%;
    margin: 0 auto;
}

#menu {
    background-color: #5C4033;
    opacity: 0.95;
    padding: 4%;
    font-family: 'Hina Mincho', serif;
    font-size: 18px;
}

.section-title p {
    font-size: 48px;
    color: pink;
}

.menu-content a,
.menu-ingredients {
    color: white;
}

.menu-content a {
    text-decoration: none;
    color: pink;
}

.menu-content span {
    font-weight: 700;
    color: black;
}

/* Signup */

.btn-signup {
    background-color: #e75480;
    color: white;
}

.alert-bar {
    background-color: #5C4033;
    border: 1px solid pink;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    opacity: 0.9;
    z-index: 999;
  }

  #start-book {
    width: 10%;
    margin: 0 auto;
    margin-top: 10px;
    height: 60px;
    border-radius: 25px;
    background-color: #5C4033;
    color: pink;
    font-size: 24px;
    text-align: center;
  }