{% extends "base.html" %}

{% block content %}

<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Menu</h2>
        <p>Check Out Todays Sushis</p>
      </div>
  
      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
  
        <div class="col-lg-6 menu-item filter-starters">
          <img src="" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Maguro (Tuna)</a><span>  125 Yen ¥</span>
          </div>
          <div class="menu-ingredients">
            Our classic Tuna nigiri
          </div>
        </div>
  
        <div class="col-lg-6 menu-item filter-specialty">
          <img src="" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Sake (Salmon)</a><span>  150 Yen ¥</span>
          </div>
          <div class="menu-ingredients">
            Smoked or non-smoked a salmon nigiri is always a favorite
          </div>
        </div>
  
        <div class="col-lg-6 menu-item filter-starters">
          <img src="" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Buri (Yellowtail)</a><span>  110 Yen ¥</span>
          </div>
          <div class="menu-ingredients">
            Our fresh Buri
          </div>
        </div>
  
        <div class="col-lg-6 menu-item filter-salads">
          <img src="" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Tai (Red Snapper)</a><span>  135 Yen ¥</span>
          </div>
          <div class="menu-ingredients">
            Freshly caught Red Snapper
          </div>
        </div>
  
        <div class="col-lg-6 menu-item filter-specialty">
          <img src="" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Ika (Squid)</a><span>  160 Yen ¥</span>
          </div>
          <div class="menu-ingredients">
            Freshly caught Squid from the East coast of Japan
          </div>
        </div>
  
        <div class="col-lg-6 menu-item filter-starters">
          <img src="" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Hotate (Scallop)</a><span>  100 Yen ¥</span>
          </div>
          <div class="menu-ingredients">
            Wonderful scallops served best with ginger
          </div>
        </div>
  
        <div class="col-lg-6 menu-item filter-salads">
          <img src="" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Amaebi (Shrimp)</a><span>  125 Yen ¥</span>
          </div>
          <div class="menu-ingredients">
            Our most sold Amaebi Shrimp
          </div>
        </div>
  
        <div class="col-lg-6 menu-item filter-salads">
          <img src="" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Hokkigai (Surf Clam)</a><span>  140 Yen ¥</span>
          </div>
          <div class="menu-ingredients">
            For the bold, a stunning Surf Clam
          </div>
        </div>
  
        <div class="col-lg-6 menu-item filter-specialty">
          <img src="" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Tekkamaki (Tuna roll)</a><span>  90 Yen ¥</span>
          </div>
          <div class="menu-ingredients">
            If you prefer a roll, try our Tekkamaki
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
            <img src="" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Kappamaki (Cucumber roll)</a><span>  90 Yen ¥</span>
            </div>
            <div class="menu-ingredients">
              Our childrens favorite Cucumber roll
            </div>
          </div>
  
      </div>
  
    </div>
  </section><!-- End Menu Section -->
{%endblock%}